<?xml version="1.0" encoding="UTF-8" ?>
<server description="Portal Apoio Staging">
    <featureManager>
        <feature>webProfile-10.0</feature>
        <feature>xmlBinding-4.0</feature>
        <feature>bells-1.0</feature>
        <feature>microProfile-6.0</feature>
    </featureManager>

    <!-- Configuração HTTP -->
    <variable name="http.port" defaultValue="9080" />
    <variable name="https.port" defaultValue="9443" />

    <httpEndpoint host="*" httpPort="${http.port}"
                  httpsPort="${https.port}" id="defaultHttpEndpoint" />

    <library id="h2">
        <fileset dir="${server.config.dir}/h2/" includes="*.jar" />
    </library>

    <dataSource jndiName="portalApoioDS">
        <jdbcDriver libraryRef="h2" />
        <properties url="jdbc:h2:mem:testdb;MODE=PostgreSQL" user="sa" password="sa" />
    </dataSource>

    <applicationMonitor dropinsEnabled="false" />

    <webApplication location="portal-apoio-stg.war" contextRoot="/portal-apoio-stg" />
</server>
